FormatVersion: OOS-2019-06-01
Description:
  name-en: ACS-SWAS-DeployRevisionOnApplicationGroup
  name-zh-cn: 在单个应用分组上部署部署物(SWAS)
  en: Deploy deployments on single application group (SWAS)
  zh-cn: 在单个应用分组上部署部署物(SWAS)
Parameters:
  applicationName:
    Label:
      en: ApplicationName
      zh-cn: 应用名称
    Type: String
    AssociationProperty: ALIYUN::OOS::Application::ApplicationName
  applicationGroupName:
    Label:
      en: ApplicationGroupName
      zh-cn: 应用分组名称
    Type: String
    AssociationProperty: ALIYUN::OOS::ApplicationGroup::ApplicationGroupName
    AssociationPropertyMetadata:
      ApplicationName: ${applicationName}
  deployRevisionId:
    Label:
      en: DeployRevisionId
      zh-cn: 部署物ID
    Type: String
    AssociationProperty: ALIYUN::OOS::Application::DeployRevisionId
    AssociationPropertyMetadata:
      ApplicationName: ${applicationName}
  deployMethod:
    Label:
      en: DeployMethod
      zh-cn: 发布模式
    Description:
      en: Full-scale publishing：publish all instances under the current application group. <br>Grayscale publishing：you can select some instances to publish. <br><strong>Note</strong>- Only Linux system instances are supported！
      zh-cn: 全量发布:会发布当前应用分组下所有SWAS实例。<br>灰度发布:您可以选择部分SWAS实例发布。<br><strong>注意</strong>：仅支持发布Linux系统实例！
    Type: String
    Default: all
    AllowedValues:
      - all
      - partial
    AssociationPropertyMetadata:
      ValueLabelMapping:
        all:
          zh-cn: 全量发布
          en: Full-scale publishing
        partial:
          zh-cn: 灰度发布
          en: Grayscale publishing
  instanceIds:
    Label:
      en: SWAS InstanceIds
      zh-cn: SWAS实例ID
    Description:
      en: You can select to publish only part of SWAS in current application group. Note- When publishing part of SWAS, the baseline of the application will not be managed! Only when publishing all SWAS, the baseline of the application will be recorded.
      zh-cn: 您可以选择仅发布应用分组下的部分SWAS。注意：发布部分SWAS，应用的基线将不会被管理！只有全量发布时，应用的基线会被记录。
    Type: Json
    AssociationProperty: Targets
    AssociationPropertyMetadata:
      HideTypes: ["Tags", "ResourceGroup",  "UploadFile",  "All", "Inventory"]
      ResourceType: 'ALIYUN::SWAS::Instance'
      Application: ${applicationName}
      ApplicationGroup: ${applicationGroupName}
      Visible:
        Condition:
          Fn::Equals:
            - '${deployMethod}'
            - partial
    Default: {}
  batchNumber:
    Label:
      en: BatchNumber
      zh-cn: 执行批次
    Description:
      en: For example, 10 SWAS instances are to be released, and the BatchNumber is set to 2, then 5 are released in each batch.
      zh-cn: 例如一共发布10台SWAS实例，执行批次设为2，则每批发布5台。
    Type: Number
    MinValue: 1
    MaxValue: 100
    Default: 2
  batchPauseOption:
    Label:
      en: BatchPauseOption
      zh-cn: 分批模式
    Type: String
    AllowedValues:
      - Automatic
      - FirstBatchPause
      - EveryBatchPause
    Default: Automatic
    AssociationPropertyMetadata:
      ValueLabelMapping:
        Automatic:
          zh-cn: 不暂停
          en: No pause
        FirstBatchPause:
          zh-cn: 第一批暂停
          en: First batch pause
        EveryBatchPause:
          zh-cn: 每批暂停
          en: Every batch pause
Tasks:
  - Name: getApplicationGroupDetail
    Action: ACS::ExecuteApi
    Description:
      en: GetApplicationGroupDetail
      zh-cn: 获取应用分组详情
    Properties:
      Service: oos
      API: GetApplicationGroup
      Parameters:
        RegionId: cn-hangzhou
        ApplicationName: '{{ applicationName }}'
        Name: '{{ applicationGroupName }}'
    Outputs:
      tagKey:
        Type: String
        ValueSelector: .ApplicationGroup.ImportTagKey
      tagValue:
        Type: String
        ValueSelector: .ApplicationGroup.ImportTagValue
      deployRegionId:
        Type: String
        ValueSelector: .ApplicationGroup.DeployRegionId
  - Name: getInstanceFromTargets
    Description:
      en: Views the SWAS instances
      zh-cn: 获取SWAS实例
    Action: 'ACS::SelectTargets'
    Properties:
      ResourceType: 'ALIYUN::SWAS::Instance'
      RegionId: '{{ getApplicationGroupDetail.deployRegionId }}'
      Filters:
        Fn::If:
          - Fn::Equals:
              - '{{ deployMethod }}'
              - all
          - - Type: ApplicationGroup
              ApplicationName: '{{ applicationName }}'
              ApplicationGroupName: '{{ applicationGroupName }}'
          - - '{{ instanceIds }}'
    Outputs:
      instanceIds:
        Type: List
        ValueSelector: 'Instances.Instance[].InstanceId'
  - Name: getApplicationParameters
    Action: ACS::CICD::ListApplicationParameters
    Description:
      en: GetApplicationParameters
      zh-cn: 获取应用参数
    Properties:
      applicationName: '{{ applicationName }}'
      applicationGroupName: '{{ applicationGroupName }}'
      deployRegionId: '{{ getApplicationGroupDetail.deployRegionId }}'
    Outputs:
      applicationParameters:
        Type: List
        ValueSelector: .applicationParameters
  - Name: bulkyDeployRevisions
    Action: 'ACS::CICD::DeployRevisionOnSwas'
    Description:
      en: BulkyDeployRevisions
      zh-cn: 批量发布部署物
    Loop:
      Items: '{{ getInstanceFromTargets.instanceIds }}'
      RateControl:
        Mode: Batch
        MaxErrors: 0
        BatchPauseOption: '{{ batchPauseOption }}'
        Batch:
          'Fn::CalculateBatch':
            - '{{ batchNumber }}'
            - '{{ getInstanceFromTargets.instanceIds }}'
      Outputs:
        deployCommandOutputs:
          AggregateType: 'Fn::ListJoin'
          AggregateField: deployCommandOutput
    Properties:
      regionId: '{{ getApplicationGroupDetail.deployRegionId }}'
      instanceId: '{{ ACS::TaskLoopItem }}'
      deployRevisionId: '{{ deployRevisionId }}'
      applicationParameters: '{{ getApplicationParameters.applicationParameters }}'
    Outputs:
      deployCommandOutput:
        Type: String
        ValueSelector: commandOutput
  - Name: updateDeployedRevision
    Action: ACS::ExecuteAPI
    When:
      Fn::Equals:
        - '{{ deployMethod }}'
        - all
    Description:
      en: Update the deployed revision
      zh-cn: 更新部署的版本
    Properties:
      Service: OOS
      API: UpdateApplicationGroup
      Parameters:
        RegionId: cn-hangzhou
        ApplicationName: '{{ applicationName }}'
        Name: '{{ applicationGroupName }}'
        DeployedRevisionId: '{{ deployRevisionId }}'
Outputs:
  deployCommandOutput:
    Type: String
    Value: '{{ bulkyDeployRevisions.deployCommandOutputs }}'
